{# src/JFC/AdminBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jfccore/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jfccore/css/signin.css') }}">
    {#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">#}
{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('jfc_core_index') }}">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('jfc_core_category_show', { category: 'Category1' }) }}">Category 1</a></li>
                <li><a href="{{ path('jfc_core_category_show', { category: 'Category2' }) }}">Category 2</a></li>
                <li><a href="{{ path('jfc_core_category_show', { category: 'Category3' }) }}">Category 3</a></li>
                <li><a href="{{ path('jfc_core_category_show', { category: 'Category4' }) }}">Category 4</a></li>
                <li><a href="{{ path('jfc_core_category_show', { category: 'Category5' }) }}">Category 5</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('jfc_user_register') }}">Register</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('jfc_admin_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('jfc_admin_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div> <!--/.container-fluid -->
    </nav>
</div><!--/.div container -->
{% endblock %}


